body{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin-top: 50vh;
    padding: 0;
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
    

}



/* Small screen only */
@media screen and (min-width: 475px) {
    .box{
        background-color: red;
    }
}

/* Medium Screen only */
@media screen and (min-width: 475px) and (max-width: 768px) {
    .box{
        background-color:indigo;
    }

    
}


/* Large Screen only */
@media screen and (min-width: 992px){
    .box{
        background-color:yellow;
    }


}